recaged
recaged-*.tar.gz
recaged-*.tar.gz.sig

*.Po
*.o
.dirstamp

Makefile
Makefile.in

/INSTALL
/aclocal.m4
/autom4te.cache/
/cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing

